@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');


body {
  font-family: 'Montserrat', sans-serif;
}


*, ::after, ::before {
    box-sizing: border-box;
    outline: 0 !important;
}