.wrapper {
    & {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 70px auto 54px;
        
        height: 100vh;
        background: #fff;
    }

    .header {
        & {
            grid-row: 1;
            position: relative;
            background: #27283c;
            text-align: center;
        }
        .header-logo {
            width: 150px;
            margin: 16px 0px;
        }
         .terms-search-form {
                     & {
                         margin: 10px 0;
                         position: relative;
                    }
                     .terms-text {
                         width: 100%;
                         padding: 16px 28px;
                         font-family: 'Ubuntu', sans-serif;
                         border-radius: 60px;
                         border: 0;
                         font-size: 16px;
                         color: #666;
                         position: relative;
                         box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.2);
                         height: 51px;
                    }
                    .terms-text::placeholder {
                        opacity: 0.5;
                    }
                    .search-btn {
                         & {
                             position: absolute;
                             top: 2px;
                             right: 2px;
                             height: 47px;
                             width: 150px;
                             border-radius: 50px;
                             border: 0;
                             background: #00D900;
                             outline: none;
                             cursor: pointer;
                             color: #FFF;
                             font-weight: 500;
                        }
                        &:disabled {
                            opacity: 0.3;
                        }
                         img {
                             width: 31px;
                        }
                    }
                    .search-clear {
                        & {
                            position: absolute;
                            top: 4px;
                            right: 4px;
                            width: 43px;
                            height: 43px;
                            border-radius: 50px;
                            border: 0;
                            outline: none;
                            cursor: pointer;
                            color: #666;
                            background: #FFF;
                        }
                        &:hover {
                            background: #ccc;
                        }
                        i {
                            font-size: 25px;
                        }
                    }
                }
    }

    .content {
        & {
            grid-row: 2;
            grid-column: auto;
            padding: 20px;
        }

        .results {
            & {
                position: relative;
                background: #FFF;
                vertical-align: top;
                color: #202124;
                padding: 20px;
            }
            .item {
                & {
                    display: grid;
                    grid-template-areas: "_left_ _right_"
                                          "_div_ _div_";
                    grid-template-rows: 100px;
                    grid-template-columns: auto 100px;

                    border: 1px solid #dadce0;
                    border-radius: 8px;
                    padding: 20px;
                    margin-bottom: 20px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                
                /* Others results */
                .item-left {
                        & {
                            grid-area: _left_;
                            grid-row: 1;
                            grid-column: 1;
                        }
                        .title {
                            &{
                                font-size: .875rem;
                                color: inherit;
                            }
                            a {
                                position: relative;
                                padding-left: 10px;
                            }
                            a::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 6px;
                                left: 0;
                                width: 4px;
                                height: 4px;
                                border-radius: 2px;
                                background: #4285f4;
                            }
                        }
                        .description {
                            font-size: .875rem;
                            color: inherit;
                            opacity: .7;
                        }
                        .source {
                            & {
                                margin-top: 10px;
                            }
                            i {
                                font-size: 12px;
                                padding-right: 5px;
                                vertical-align: middle;
                                color: #666;
                            }
                            a {
                                font-size: .75rem;
                                color: #333;
                                font-weight: 400;
                                vertical-align: middle;
                                white-space: nowrap;
                                opacity: 0.8 !important;
                            }
                            time {
                                font-size: .75rem;
                                color: inherit;
                                opacity: 0.5;
                            }
                            time::before {
                                font-size: .5625rem;
                                content: '\0000a0\002022\0000a0';
                                margin-right: .25rem;
                            }
                        }
                    }
                    .item-right {
                        & {
                            grid-area: _right_;
                            grid-row: 1;
                            grid-column: 2; 
                        }
                        .image {
                            & {
                                display: block;
                                z-index: 1;
                                width: 100px;
                                height: 100px;
                                overflow: hidden;
                                border-radius: 8px;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
            }
        }
    }

     .footer {
         & {
             grid-row: 3;
             background: #27283c;
             position: relative;
             text-align: center;
        }
        p {
             font-size: 13px;
             font-weight: 100;
             color: #7d809d;
             text-transform: capitalize;
             margin-top: 18px;
             font-family: 'Ubuntu', sans-serif;
             text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.04);
        }
    }
}
